/.settings/
/target/
/.classpath
/bin
*.class
*.jar
*.war
*.ear

config/.settings/
config/target/
config/.classpath
config/bin

util/.settings/
util/target/
util/.classpath
util/bin

web/.settings/
web/target/
web/.classpath
web/bin

service/.settings/
service/target/
service/.classpath
service/bin

bean/.settings/
bean/target/
bean/.classpath
bean/bin

persistence/.settings/
persistence/target/
persistence/.classpath
persistence/bin